@import "Global";

.ModalBackground {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-height: 100vh;
  overflow-y: scroll;
  display: block;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  padding-top: 100px;
  background: rgba(32, 35, 41, 0.9);
}
